body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #fdfdfd;
}

.text-center {
  text-align: center;
}

.btn {
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  background-color: #ffffffcc;
  color: #000;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #ffffff;
}
