
.popup-header {
  display: flex;
  justify-content: flex-end;
}




.login-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 2rem;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 10px;
    z-index: 1000;
}


.login-popup > input {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 0.5rem;

}



.login-popup button {
    margin-right: 10px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: rgba(13, 13, 231, 0.952)
}


.toggle-auth {
    margin-top: 10px;
    font-size: 0.9rem;
}

.toggle-auth > span {
    color: rgb(0, 26, 255);
    cursor: pointer;
    font-weight: bold;
}